<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>
        <%= selectUser.name %>'s Dish Collection! | DishNote
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <%- include('../partials/_footer.ejs') %>
            <main>
                <h1> Welcome to <%= selectUser.username %>'s Dish Collection! </h1>

                <h2>
                    <%= selectUser.username %>'s Dish Collection
                </h2>

                <% if (selectUser.dishes && selectUser.dishes.length> 0) { %>
                    <div class="dish-cards-container">
                        <% selectUser.dishes.forEach(item=> { %>
                            <div class="dish-card">
                                <h2>
                                    <%= item.name %>
                                </h2>
                                <div class="dish-info">
                                    <h4>
                                        <%= item.restaurantName %>
                                    </h4>
                                    <h5>
                                        <a href="https://www.google.com/maps?q=<%= item.restaurantLocation %>"
                                            target="_blank">
                                            <%= item.restaurantLocation %>
                                        </a>
                                    </h5>
                                    <p>
                                        <%= item.notes %>
                                    </p>
                                    <h5>
                                        <a href="<%= item.websiteLink %>" target="_blank">
                                            <%= item.websiteLink %>
                                        </a>
                                    </h5>

                                    <p>
                                        <% if (item.status==='Tried' ) { %>
                                            <%= selectUser.name %> tried <%= item.name %> before!
                                                    <% } else { %>
                                                        <%= selectUser.name %> wants to try <%= item.name %>!
                                                                <% } %>
                                    </p>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <% } else { %>
                        <ul>
                            <li>
                                <h2>No dishes in this collection yet.🤨 </h2>
                            </li>
                        </ul>
                        <% } %>
            </main>
</body>

</html>